<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Templating Engines</title>
    <link rel="stylesheet" href="public/css/main.css" />
    <script src="public/js/app.js" defer></script>
  </head>
  <body>
    <h1>Welcome To Deno World!</h1>
    <div><%- payload.text %></div>
    <p id="content"></p>
  </body>
</html>